<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="/assets/css/epoch.css">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
        <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
        <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}

        {% if site.show_links %}
        <ul class="downloads">
          <li><a href="{{ site.faq_url }}">Read <strong>FAQ</strong></a></li>
          <li><a href="{{ site.discussion_url }}">Join <strong>forum</strong></a></li>
          <li><a href="{{ site.wiki_url }}">Contribute on <strong>wiki</strong></a></li>
        </ul>
	<hr />
        <div class="unstyledtemplate template" style="display: block;">
				  <div id="groupsio_unstyled_embed_signup">
				    <form action="https://groups.io/g/epochalypse-discuss/signup?u=5908075693816369011" method="post" id="groupsio-embedded-subscribe-form" name="groupsio-embedded-subscribe-form" target="_blank">
					  <div id="groupsio_unstyled_embed_signup_scroll">
						  <label for="email" id="unstyletemplateformtitle">Join the mailing list</label>
						  <br>
						  <input type="email" value="" name="email" class="email" id="email" placeholder="Email Address" required="">
						  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						    <div style="position: absolute; left: -5000px;" aria-hidden="true">
							    <input type="text" name="b_5908075693816369011" tabindex="-1" value="">
						    </div>
						    <div id="templatearchives"></div>
						      <input type="submit" value="Subscribe" name="subscribe" id="groupsio-embedded-subscribe" class="button">
					      </div>
					   </form>
				   </div>
			    </div>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
